@{
    ViewData["Title"] = "Edit Enrollment";
}

@model StudentPortal.Web.Models.Entities.Enrollment

<h1>Edit Enrollment</h1>

@if (Model is null)
{
    <p>No enrollment was found</p>
}
else
{

    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>
        <div class="mt-3">
            <label class="form-label">Student</label>
            <select type="number" class="form-select form-select-lg mb-3" asp-for="StudentId" asp-items="@ViewBag.StudentsList">
                <option disabled selected>--Select student--</option>
            </select>

            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label class="form-label">Course</label>
            <select type="number" class="form-select form-select-lg mb-3" asp-for="CourseId" asp-items="@ViewBag.CoursesList">
                <option disabled selected>--Select course--</option>
            </select>

            <span asp-validation-for="CourseId" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label class="form-label">Grade</label>
            <select type="number" class="form-select form-select-lg mb-3" asp-for="Grade" asp-items="@ViewBag.GradesList">
                <option disabled selected>--Select grade--</option>
            </select>

            <span asp-validation-for="Grade" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button class="btn btn-primary">Submit</button>
            <a type="submit" class="btn btn-secondary" asp-action="List">Cancel</a>
        </div>
    </form>
}
